/* .border1{
    border: 2px solid blue;
    padding: 2px;
    margin: 0px;
}

.border2{
    border: 3px solid black;
    width: 80%;
    /* height: 50%;            
    margin: 0 auto;       
    
} */

